@model Onion.AppCore.DTO.TeamDTO

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="~/Project/Show">Projects</a></li>
        <li class="breadcrumb-item"><a asp-action="Show" asp-route-id="@ViewBag.Project.ProjectDTO.Id" asp-controller="Team">Teams</a></li>
        <li class="breadcrumb-item active" aria-current="page">Create Team</li>
    </ol>
</nav>

<form asp-action="Create" asp-controller="Team" asp-anti-forgery="true" method="post" enctype="multipart/form-data">

    <div class="container col-10 ">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="container col-10 ">
        <div class="InputSuccess">@ViewBag.CreateResult</div>
    </div>

    <div class="container col-5 justify-content-center mt-3 ">
        <h2 class="text-center">Create Team:</h2>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="Name">Name:</label>
            </div>
            <div class="col-9">
                <input type="text" name="Name" class="form-control" asp-for="Name" />
                <span asp-validation-for="Name" class="col-8" />
            </div>
        </div>

        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="HeadName">Head Name:</label>
            </div>
            <div class="col-9">
                <input type="text" name="HeadName" class="form-control" asp-for="HeadName" />
                <span asp-validation-for="HeadName" class="col-8" />
            </div>
        </div>


        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="Technologies">Technologies:</label>
            </div>
            <div class="col-9">
                <input type="text" name="Technologies" class="form-control" asp-for="Technologies" />
                <span asp-validation-for="Technologies" class="col-8" />
            </div>
        </div>

         <input type="text" name="ProjectId" asp-for="ProjectId" value="@ViewBag.Project.ProjectDTO.Id" hidden />

        <div class="row mt-3 justify-content-start">
            <div class="col-3">
                <label class="form-label">For project (Name):</label>
            </div>
            <div class="col-9">
                <input type="text" class="form-control" readonly value="@ViewBag.Project.ProjectDTO.Name" />
            </div>
        </div>

        <div class="row mb-5 mt-4 pb-4 justify-content-center">
            <div class="col-4 ">
                <a asp-action="Show" asp-route-id="@ViewBag.Project.ProjectDTO.Id" asp-controller="Team" class="btn btn-primary  NewProject ">Back</a>
            </div>
            <div class="col-7">
                <input class="btn btn-primary  NewProject col-7" type="submit" value="Create">
            </div>
        </div>




        @*<div class="row  mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="ProjectId">For project (Name):</label>
            </div>
            <div class="col-9">

                <select class="form-select form-control" aria-label="Select" asp-for="ProjectId">
                    @{

                        foreach (var project in ViewBag.ProjectList)
                        {
                            <option class="form-control" selected value="@project.ProjectDTO.Id">@project.ProjectDTO.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="ProjectId" class="col-8"></span>
            </div>
        </div>


        <div class="row  justify-content-center mb-5">
            <input class="btn btn-primary mt-4 col-4 NewProject" type="submit" value="Create">
        </div>*@
    </div>
</form>



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}