@model IEnumerable<Onion.AppCore.DTO.FullDashBoardDTO>

@*@{

    string S = Newtonsoft.Json.JsonConvert.SerializeObject(new { id = 1, title = "saske" });
}*@


<div class="container mainSize justify-content-center col-12">
    @*<h2 class="text-center">Previous Sets:</h2>*@

    @*<div class=" col-12 CreateProj justify-content-center">
        <table class="table table-striped table-hover mt-4 ">
            <thead>
                <tr>

                    <th scope="col">
                        №
                    </th>

                    <th scope="col">
                        <a class="m-1">SetDate</a>
                    </th>

                    <th scope="col">
                        <a class="m-1">Employee</a>
                    </th>

                    <th scope="col">
                        <a class="m-1">Team</a>
                    </th>

                    <th scope="col">
                        <a class="m-1">Project</a>
                    </th>

                    <th scope="col">
                        <a class="m-1">StartDate</a>
                    </th>

                    <th scope="col">
                        <a class="m-1">EndDate</a>
                    </th>


                    <th scope="col">
                        <a class="m-1">Options</a>
                    </th>

                </tr>
            </thead>
            <tbody>
                @{ int i = 1;

                    if (Model != null)
                    {
                        foreach (var dashBoard in Model)
                        {
                            <tr>
                                <td scope="row">@i</td>
                                <td scope="row">@dashBoard.SetDate.ToShortDateString()</td>
                                <td scope="row">@dashBoard.StartDate.ToShortDateString()</td>
                                <td scope="row">@dashBoard.EndDate.ToShortDateString()</td>
                                <td scope="row">@dashBoard.Employee</td>
                                <td scope="row">@dashBoard.Team</td>
                                <td scope="row">@dashBoard.Project</td>
                                <td class="col-2 px-4">

                                    <a class="icons" data-title="Edit" asp-action="Edit" asp-route-id="@dashBoard.Id" asp-controller="DashBoard">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                             class="bi bi-pencil-square" viewBox="0 0 20 20">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd"
                                                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                        </svg>
                                    </a>

                                    <a class="icons third" data-title="Remove" asp-controller="DashBoard" asp-route-id="@dashBoard.Id" asp-action="Delete">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                             class="bi bi-trash" viewBox="0 0 20 20">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                            <path fill-rule="evenodd"
                                                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                        </svg>
                                    </a>

                                </td>
                            </tr>
                            i++;
                        }
                    } }
            </tbody>
        </table>



    </div>*@

    <div id='calendar'></div>

</div>

<script>
    function Func(Name) {
        document.addEventListener('DOMContentLoaded', function () {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                now: "@DateTime.Now.ToString("yyyy-MM")",
                editable: true,
                aspectRatio: 1.8,
                scrollTime: '00:00',
                headerToolbar: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'resourceTimelineMonth,resourceTimelineYear'
                },
                initialView: 'resourceTimelineMonth',
                /* navLinks: true,*/
                resourceAreaWidth: '25%',
                resourceAreaHeaderContent: Name,
                resources:'https://localhost:44336/DashBoard/ShowResources',
                    @*@Url.Action("ShowAll", "DashBoard"),*@
                    //[
                    //    { id: '7', title: '----FFFF' },
                    //    { id: '4', title: "sadasdasd" }
                    //],
                events: 'https://localhost:44336/DashBoard/ShowEvents',
                //    [
                //    { id: '1', resourceId: 'b', start: '2022-04-09', end: '2022-04-18', title: 'event 1' },
                //    { id: '2', resourceId: 'c', start: '2022-04-09', end: '2022-04-18', title: 'event 2' },
                //    { id: '3', resourceId: 'd', start: '2022-04-11', end: '2022-04-15', title: 'event 3' },
                //    { id: '4', resourceId: 'e', start: '2022-04-09T03:00:00', end: '2022-04-18', title: 'event 4' },
                //    { id: '5', resourceId: 'f', start: '2022-04-12T00:30:00', end: '2022-04-18T02:30:00', title: 'event 5' },
                //    { id: '7', resourceId: '7', start: '2022-04-09T03:00:00', end: '2022-04-18', title: 'event 4' },
                //    { id: '7', resourceId: '12', start: '2022-04-12T00:30:00', end: '2022-04-18T02:30:00', title: 'event 5' }
                //]
            });
            calendar.render();
        });
    }
    Func("Employees")

</script>
@*<script src="~/js/site.js"></script>*@