@model Onion.AppCore.DTO.FullEmployeeDTO



<form asp-action="Create" asp-controller="Employee" asp-anti-forgery="true" method="post" enctype="multipart/form-data">

    <div class="container col-10 ">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
    </div>
    <div class="container col-10 ">
        <div class="InputSuccess">@ViewBag.CreateResult</div>
    </div>

    <div class="container col-5 justify-content-center mt-3 ">
        <h2 class="text-center">Create Employee:</h2>

        <div class="row mt-4 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.FullName">Full Name:</label>
            </div>
            <div class="col-9">
                <input type="text" name="EmployeeDTO.FullName" class="form-control" asp-for="EmployeeDTO.FullName" />
                <span asp-validation-for="EmployeeDTO.FullName" class="col-8" />
            </div>
        </div>


        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="AuthenticationDTO.Email">Email:</label>
            </div>
            <div class="col-9">
                <input type="text" name="AuthenticationDTO.Email" class="form-control" asp-for="AuthenticationDTO.Email" />
                <span asp-validation-for="AuthenticationDTO.Email" class="col-8" />
            </div>
        </div>

        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="AuthenticationDTO.Password">Password:</label>
            </div>
            <div class="col-9">
                <input type="password" name="AuthenticationDTO.Password" class="form-control" asp-for="AuthenticationDTO.Password" />
                <span asp-validation-for="AuthenticationDTO.Password" class="col-8" />
            </div>
        </div>

        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.TechStackName">Tech. Stack:</label>
            </div>
            <div class="col-9">
                <input type="text" name="EmployeeDTO.TechStackName" class="form-control" asp-for="EmployeeDTO.TechStackName" />
                <span asp-validation-for="EmployeeDTO.TechStackName" class="col-8" />
            </div>
        </div>

        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.Experience">Experience:</label>
            </div>
            <div class="col-9">
                <input type="text" name="EmployeeDTO.Experience" class="form-control" asp-for="EmployeeDTO.Experience" />
                <span asp-validation-for="EmployeeDTO.Experience" class="col-8" />
            </div>
        </div>


        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.Position">Position:</label>
            </div>
            <div class="col-9">
                <input type="text" name="EmployeeDTO.Position" class="form-control" asp-for="EmployeeDTO.Position" />
                <span asp-validation-for="EmployeeDTO.Position" class="col-8" />
            </div>
        </div>


        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.Technologies">Technologies:</label>
            </div>
            <div class="col-9">
                <input type="text" name="EmployeeDTO.Technologies" class="form-control" asp-for="EmployeeDTO.Technologies" />
                <span asp-validation-for="EmployeeDTO.Technologies" class="col-8" />
            </div>
        </div>


        <div class="row mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.Level">Level:</label>
            </div>
            <div class="col-9">
                <input type="text" name="EmployeeDTO.Level" class="form-control" asp-for="EmployeeDTO.Level" />
                <span asp-validation-for="EmployeeDTO.Level" class="col-8" />
            </div>
        </div>


        <div class="row  mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.DepartmentId">Department:</label>
            </div>
            <div class="col-9">

                <select class="form-select form-control" aria-label="Select" asp-for="EmployeeDTO.DepartmentId">
                    @{

                        foreach (var department in ViewBag.Departments)
                        {
                            <option class="form-control" selected value="@department.Id">@department.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="EmployeeDTO.DepartmentId" class="col-8"></span>
            </div>
        </div>


        <div class="row  mt-2 justify-content-start">
            <div class="col-3">
                <label class="form-label" asp-for="EmployeeDTO.RoleId">Role:</label>
            </div>
            <div class="col-9">

                <select class="form-select form-control" aria-label="Select" asp-for="EmployeeDTO.RoleId">
                    @{

                        foreach (var role in ViewBag.Roles)
                        {
                            <option class="form-control" selected value="@role.Id">@role.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="EmployeeDTO.RoleId" class="col-8"></span>
            </div>
        </div>




        <div class="row  justify-content-center mb-5 pb-4">
            <input class="btn btn-primary mt-4 col-4 NewProject" type="submit" value="Create">
        </div>
    </div>
</form>



@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}